* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    height: 100vh;
    display: grid;
    grid-template: 1fr 6fr / 1fr 4fr 1fr;
}

/* .container div {
    border: 1px solid black;
} */

img {
    height: auto;
}

.sidebar {
    grid-row: 1 / 5;
    background-color: rgb(46, 164, 255);
    color: white;
    padding: 30px;
    font-size: 18px;
}

.sidebar img {
    filter: brightness(0) invert(1);
    max-width: 12%;
    margin-right: 10px;
}

ul {
    margin-top: 70px;
}

li {
    display: flex;
    list-style-type: none;
    cursor: pointer;
    padding: 10px;
}

li:hover {
    background-color: rgba(99, 162, 250, 0.715);
    color: black;
}

.header {
    grid-column: 2 / 6;
    box-shadow: 2px 3px 5px #6f6f6fc1;
    padding: 10px;
    display: inline-grid;
    grid-template: 1fr 2fr / 2fr 1fr;
}

.searchbar {
    grid-column: 1 / 2;
    display: flex;
}

.header img {
    max-width: 22px;
    margin-left: 50px;
}

input {
    width: 100%;
    font-size: 15px;
    border: none;
    background-color: #e6e6e6c1;
    border-radius: 20px;
    outline: none;
    padding: 0 20px;
}

.header-btn {
    align-content: center;
    text-align: center;
}

button {
    border-radius: 20px;
    border: none;
    background-color: rgb(46, 164, 255);
    color: white;
    width: 70px;
    padding: 5px 0;
    margin-right: 10px;
}

.content, .content-sidebar {
    display: inline-grid;
    background-color: #e6e6e6c1;
    padding: 10px;
}

.content {
    grid-template: 30px 15fr / 1fr;
    padding: 5px;
}

.content-post{
    display: inline-grid;
    grid-template: 1fr 1fr / repeat(3, 1fr);
    padding: 15px;
    gap: 20px;
}

.posts {
    display: inline-grid;
    grid-template-rows: 1fr 25px;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 5px 5px 5px #888;
    background: linear-gradient(
    to right,
    orange 2%,
    white  3%,
    white  100%
  );
}

.posts p {
    font-size: 14px;
    text-align: justify;
}

.post-btn {
    text-align: right;
}

.post-btn img {
    max-width: 23px;
}

.title {
    font-weight: bold;
}

.content-sidebar {
    grid-column: 3 / 4;
}

.announcement, .trending {
    display: inline-grid;
    grid-template-rows: 30px 8fr;
}

.announce-content, .trend-content {
    display: inline-grid;
    grid-template-rows: repeat(auto-fill, 1fr);
    padding: 5px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 3px 3px 3px #888;
}